DROP TABLE TB_PRDT PURGE;
CREATE TABLE TB_CUST
(
    CUST_NO    CHAR(10) NOT NULL,
    CUST_NM    VARCHAR2(50) NOT NULL,
    AGE    NUMBER(15) NOT NULL,
    JOB_CD    CHAR(4)
);

ALTER TABLE TB_CUST
 ADD CONSTRAINT PK_TB_CUST PRIMARY KEY ( CUST_NO )
 USING INDEX TB_CUST_PK;

ALTER TABLE TB_CUST
 ADD CONSTRAINT FK_TB_CUST FOREIGN KEY ( JOB_CD )
 REFERENCES TB_JOB (JOB_CD );

COMMENT ON COLUMN TB_CUST.CUST_NO IS '고객번호';

COMMENT ON COLUMN TB_CUST.CUST_NM IS '고객명';

COMMENT ON COLUMN TB_CUST.AGE IS '나이';

COMMENT ON COLUMN TB_CUST.JOB_CD IS '직업코드';

COMMENT ON TABLE TB_CUST IS '고객';


CREATE TABLE TB_JOB
(
    JOB_CD    CHAR(4) NOT NULL,
    JOB_NM    VARCHAR2(150) NOT NULL
);

ALTER TABLE TB_JOB
 ADD CONSTRAINT PK_TB_JOB PRIMARY KEY ( JOB_CD )
 USING INDEX TB_JOB_PK;

COMMENT ON COLUMN TB_JOB.JOB_CD IS '직업코드';

COMMENT ON COLUMN TB_JOB.JOB_NM IS '직업명';

COMMENT ON TABLE TB_JOB IS '직업';


CREATE TABLE TB_ORD
(
    ORD_NO    CHAR(14) NOT NULL,
    ORD_DE    CHAR(8) NOT NULL,
    ORD_TM    CHAR(8) NOT NULL,
    ORD_AMT    NUMBER(15) NOT NULL,
    CUST_NO    CHAR(10) NOT NULL,
    PRDT_NO    CHAR(10) NOT NULL
);

ALTER TABLE TB_ORD
 ADD CONSTRAINT PK_TB_ORD PRIMARY KEY ( ORD_NO )
 USING INDEX TB_ORD_PK;

ALTER TABLE TB_ORD
 ADD CONSTRAINT FK_TB_ORD1 FOREIGN KEY ( PRDT_NO )
 REFERENCES TB_PRDT (PRDT_NO );

ALTER TABLE TB_ORD
 ADD CONSTRAINT FK_TB_ORD2 FOREIGN KEY ( CUST_NO )
 REFERENCES TB_CUST (CUST_NO );

COMMENT ON COLUMN TB_ORD.ORD_NO IS '주문번호';

COMMENT ON COLUMN TB_ORD.ORD_DE IS '주문일자';

COMMENT ON COLUMN TB_ORD.ORD_TM IS '주문시간';

COMMENT ON COLUMN TB_ORD.ORD_AMT IS '주문금액';

COMMENT ON COLUMN TB_ORD.CUST_NO IS '고객번호';

COMMENT ON COLUMN TB_ORD.PRDT_NO IS '상품번호';

COMMENT ON TABLE TB_ORD IS '주문';


CREATE TABLE TB_ORD_DTL
(
    ORD_DTL_NO    CHAR(14) NOT NULL,
    ORD_DTL_AMT    NUMBER(15) NOT NULL,
    ORD_NO    CHAR(14) NOT NULL
);

ALTER TABLE TB_ORD_DTL
 ADD CONSTRAINT PK_TB_ORD_DTL PRIMARY KEY ( ORD_DTL_NO )
 USING INDEX TB_ORD_DTL_PK;

ALTER TABLE TB_ORD_DTL
 ADD CONSTRAINT FK_TB_ORD_DTL FOREIGN KEY ( ORD_NO )
 REFERENCES TB_ORD (ORD_NO );

COMMENT ON COLUMN TB_ORD_DTL.ORD_DTL_NO IS '주문상세번호';

COMMENT ON COLUMN TB_ORD_DTL.ORD_DTL_AMT IS '주문상세금액';

COMMENT ON COLUMN TB_ORD_DTL.ORD_NO IS '주문번호';

COMMENT ON TABLE TB_ORD_DTL IS '주문상세';


CREATE TABLE TB_PRDT
(
    PRDT_NO    CHAR(10) NOT NULL,
    PRDT_NM    VARCHAR2(150) NOT NULL
);

ALTER TABLE TB_PRDT
 ADD CONSTRAINT PK_TB_PRDT PRIMARY KEY ( PRDT_NO )
 USING INDEX TB_PRDT_PK;

COMMENT ON COLUMN TB_PRDT.PRDT_NO IS '상품번호';

COMMENT ON COLUMN TB_PRDT.PRDT_NM IS '상품명';

COMMENT ON TABLE TB_PRDT IS '상품';